*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	background-color: #eeeeee;

}
.navbar{
	font-size: 18px;
	background-color: none;
	padding-bottom: 10px;
}

.hb-button{
	position: absolute;
	top: 25px;
	right: 30px;
	cursor: pointer;
	color: rgb(54, 54, 54);
	font-size: 25px;
	padding: 5px 8px;
	border-style: none;
	

}

.logo{
	display: inline-block;
	text-decoration: none;
	font-size: 45px;
	margin-top: 5px;
	margin-left: 15px;
	font-family: 'Arial',Bold;
	font-weight: bold;
	color: #2747c5;
	letter-spacing: 2px;
}


span{
	color: #ff7648;
}

.nav-container{
	text-align: center;
	list-style-type: none;
	display: none;
}

.nav-container li{
	text-align: center;
	margin: 15px auto;
	margin-right: 50px;
}

a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	padding: 5px 20px;
	color: #6d7b93;
}

.button{
	background-color:#2747c5;
	text-decoration: none;
	font-size: 20px;
	color: white;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	padding: 12px 28px;
	color: #6d7b93;
	margin: 0;
  	border-radius: 4px;
  	

}
.active{
	display: block;
}
.text-container{
	width: 100%;
	text-align: center;
	margin-top: 300px;
}

.text-container h1{
	font-family: 'Roboto',sans-serif;
	letter-spacing: 5px;
	font-size: 50px;
}
.flex-container{
	border: 1px solid black;
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	width: 90%;
	margin: 0 auto; 

}
.caja{
	border: 1px solid rgb(70, 69, 69);
	background-color: white;
	color: black;
	font-weight: bold;
	width: 120px;
	line-height: center;
	text-align: center;
	margin: 5px;
}

.caja1{
	border: 1px solid rgb(70, 69, 69);
	background-color: white;
	color: black;
	font-weight: bold;
	width: 300px;
	
	line-height: center;
	text-align: center;
	margin: 0 auto;
	flex-basis: 50%; <! --esto es para que el contenerdor este a la mitad --> 
	justifiy-content: center


}
.caja2{
	border: 1px solid rgb(70, 69, 69);
	background-color: white;
	color: black;
	font-weight: bold;
	width: auto;
	font-size: 35px;
	line-height: center;
	text-align: center;
	margin: 5px;
	
}

.caja3{
	border: 1px solid rgb(70, 69, 69);
	background-color: white;
	color: black;
	font-weight: bold;
	width: auto;
	line-height: center;
	text-align: center;
	margin: 5px;
}

.caja4{
	border: 1px solid rgb(70, 69, 69);
	background-color: white;
	color: black;
	font-weight: bold;
	width: 600px;
	line-height: center;
	text-align: center;
	margin: 5px;
}

.caja5{
	border: 1px solid rgb(70, 69, 69);
	background-color: white;
	color: black;
	font-weight: bold;
	width: 100%;
	line-height: center;
	text-align: center;
	margin: 5px;
}

.titulo1{
	width: auto;
	font-size: 110px;
}
.titulo2{
	width: auto;
	font-size: 40px;
}
.descripcion2{
	width: auto;
	
}

.descripcion3{
	width: 35px;
	color: #2747c5;
	font-weight: bold;
}

.img1{
	width: 25px;
}
.fotos{
	width: 600px;	

}
.logo2{
	width: 200px;

}


@media screen and (min-width:  768px){
	.navbar{
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		height: 70px;
		align-items: center;

	}
	.logo{
		margin-top: 0;
	}
	.hb-button{
		display: none;
	}
	.button{
		
	}

	.logo:hover,
	.nav-links:hover{
		color: rgba(255, 255, 255, 1);
	}
	.nav-container{
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}
	.nav-container{
		margin: 0;
	}
}

